body {
  font-family: "Press Start 2P", arial, serif;
  background-image: url(https://preview.redd.it/yij7pxyuyzp81.jpg?width=2560&format=pjpg&auto=webp&s=d43665445ff68395ba5f2941c0419c88a6395262);
  color: white;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 50px;
  margin-bottom: 50px;
}

#userpic,
#robotpic {
  margin-top: 20px;
  margin-bottom: 35px;
}

#img1,
#img2,
.content {
  height: 200px;
  width: 200px;
}

#img1 {
  padding-right: 30px;
}

.leftdiv,
.rightdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

#container,
.footer {
  display: flex;
  justify-content: center;
}

#playagain {
  display: flex;
  justify-content: center;
}

.bottom,
.weapons,
.winlose,
#ye {
  display: flex;
  justify-content: center;
}

.winlose,
#ye {
  padding: 10px;
}

.weapons {
  margin-top: 90px;
  font-size: 25px;
}

#rock,
#paper,
#scissors {
  margin: 8px;
  border: 0.4rem solid black;
  border-radius: 1.5rem;
  margin: 1rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}
